name: Build Geany AppImage

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install -y \
            build-essential autoconf automake libtool pkg-config \
            libgtk-3-dev libxml2-dev intltool wget git fuse libfuse2 \
            libvte-2.91-dev libenchant-2-dev libaspell-dev unzip

      - name: Run build script
        run: |
          bash build/build-geany-appimage.sh

      - name: Upload AppImage artifact
        uses: actions/upload-artifact@v4
        with:
          name: Geany-AppImage
          path: "*.AppImage"
